/* DA Post List Table CSS -> Start */
.da-postable {
  width: 100%;
  table-layout: unset;
  border-collapse: collapse;
  color: #211c18;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.da-postable th {
  color: #FFFFFF;
  width: 140px;
  word-break: normal;
  text-align: left;
  vertical-align: middle;
  padding: 16px;
  line-height: normal;
  background: #144b7f;
}

.da-postable tr:nth-child(odd) th {
  background: #103e69;
}

.da-postable td {
  word-break: normal;
  text-align: left;
  padding: 18px 16px;
  background-color: white;
}

.da-postable tr:nth-child(odd) td {
  background: #EBEBEB;
}

/* DA Post List Table CSS -> End */
